<div class="col-md-6 col-md-offset-3 text-center">
    <h2>Payment options:</h2>
    <div class="d-flex flex-row">
        <form action="/charges" method="post">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ STRIPE_PK_TEST }}" data-amount="100" data-name="Stripe Node Test" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"></script>
            <input type="hidden" name="amount" id="amount" value="100">
        </form>
    </div>
</div>
