{{> shared/_flash }}

<div class="row">
    <div class="{{xsColWidth}}">
        {{> shared/_queryform colWidth=12}}
    </div>
    <div class="{{xsColWidth}}">
        {{> shared/_displayProducts currentUser=currentUser products=products colWidth=6}}
    </div>
</div>
