<div class="row">
    <div class="col-xs-6">
        <img src={{product.image_url}}></img>
    </div>
    <div class="col-xs-6">
        <h2>{{product.name}}</h2>
        <h4>Price: ${{product.price}}
        </h4>
        {{> shared/_addToCart }}

    </div>
    <div class="col-xs-12">
        <h3>Description</h3>
        <div>
            {{product.description}}
        </div>
    </div>
</div>
<div class="row">
    <h2 class="text-center">Similar Products</h2>
    {{> shared/_displayProducts products=suggestedProducts colWidth=12 innerColWidth=4}}
</div>
